@import "tailwindcss";

:root {
  --background: #FFFCF8;
  --foreground: #2f2f2f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF8;
    --foreground: #2f2f2f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  background-image: url('/public/assets/bg.png');

}
